@import url('https://fonts.googleapis.com/css?family=Open+Sans');

body {
  margin: 0;
  background-color: palegreen;
  display: grid;
  justify-content: center;
  background-image: url(https://www.ca.uky.edu/forestry/maehrbearky/Forest%20trail.jpg);
  font-family: 'Open Sans', sans-serif;
}
body a {
  text-decoration: none;
  color: indianred;
  font-weight: bold;
}
.page-wrapper {
  background-color: rgba(0,255,127,0.9);
}
header {
  border-bottom: 2px solid #333;
  text-align: center;
  width: 100%;
  background-color: lightgreen;
  padding-top: 10px;
}
.wrapper {
  border-top: 1px solid black;
  display: grid;
  justify-content: space-around;
  grid-template-areas: 'design-selection design-archives zen-resources';
  padding-bottom: 10px;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
li a {
  text-decoration: none;
  color: #222;
}
li a:hover {
  color: grey;
}
.summary {
  text-align: center;
}
.preamble {
  background-color: lightgreen;
  padding: 10px;
}
.explanation {
  padding: 10px;
}
.participation {
  background-color: lightgreen;
  padding: 10px;
}
.benefits {
  padding: 10px;
}
.requirements {
  background-color: lightgreen;
  padding: 10px;
}
footer {
  background-color: lightgreen;
  padding: 10px;
}
